# === Python ===
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
dist/
build/

# === Виртуальные окружения ===
venv/
.venv/
server/venv/
web_menu/venv/

# === Переменные окружения ===
.env

# === IDE ===
.vscode/
.idea/
*.swp
*.swo

# === OS ===
.DS_Store
Thumbs.db

# === Логи и базы ===
*.log
*.db
*.sqlite3